---
layout: page
permalink: /bookshelf/
title: My Bookshelf
class: bookshelf
---

{% assign total_books = site.data.books | size %}

<h2>Reading 📚</h2>

<p>
  I keep a list of books I read in the previous years, both Fiction and Non-Fiction.
  <br>
  Browsing this list brings back good memories.
</p>
<p>
  The list currently contains <strong>{{ total_books }}</strong> books, and the fiction part was started around <strong>2014</strong>.
  <br>
  I often forgot to update it, so it is far from being complete.
</p>
<p>
  If you want to talk about books 📖, you are very welcome! ☺️
</p>

<h3>Law of Reading</h3>
<ol>
  <li>There are more books than you can read, choose wisely.</li>
  <li>Spending quality time is the only goal (living an adventure, adding knowledge...).</li>
  <li>One can stop reading a book at any time, for any reason.</li>
</ol>

<h3>Rating System</h3>
<ul style="list-style: none; padding: 0;">
  <li>★★★★★: Outstanding</li>
  <li>★★★★☆: Really enjoyed</li>
  <li>★★★☆☆: Good, but not great</li>
  <li>★★☆☆☆: I think I lost my time</li>
  <li>★☆☆☆☆: do not touch that book, even with gloves</li>
</ul>

<h3>Organization</h3>
<p>
  The books are organized by the date I read them.
  <br>
  Each entry includes the title, authors, rating, type (Fiction or Non-Fiction), reading date, and a brief comment.
</p>

<h2>Books</h2>

{%- for book in site.data.books -%}
  {% assign title = book.title %}
  {%- if book.series and book.title != book.series -%}
    {% capture title %}
      {{ book.title }} - {{ book.series }}
    {% endcapture %}
  {%- endif -%}
  {%- if book.volume -%}
    {% capture title %}
      {{ title }} - Volume {{ book.volume }}
    {% endcapture %}
  {%- endif -%}

  <div class="book">
    <h3>
      <span class="index">
        [{{ total_books | minus: forloop.index0 }}/{{ total_books }}]
      </span>
      {{ title }}
    </h3>
    <p class="book-data">
      {%- unless book.authors == empty -%}
        Authors: {{ book.authors | join: ", " }}
        <br>
      {%- endunless -%}

      {%- if book.rating -%}
        Rating:
        {% for i in (1..5) %}
          {% if i <= book.rating %}
          ★
          {% else %}
          ☆
          {% endif %}
        {% endfor %}
        <br>
      {%- endif -%}

      {%- if book.fiction -%}
        Type:
        {% if book.fiction %} Fiction {% else %} Non-Fiction {% endif %}
        <br>
      {%- endif -%}

      {%- if book.date -%}
      Read on: <time datetime="{{ book.date }}">{{ book.date }}</time>
        <br>
      {%- else -%}
        Read on: unknown
      {%- endif -%}

      {%- unless book.urls == empty -%}
        Links:
        {%- for url in book.urls -%}
          {% assign domain = url | split: '//' | last | split: '/' | first | remove: "www." %}
          <a href="{{ url }}" target="_blank">{{ domain }}</a>
          {% unless forloop.last -%}, {%- endunless %}
        {%- endfor -%}
        <br>
      {%- endunless -%}
    </p>

    {%- if book.comment -%}
      <blockquote>
        {{ book.comment | newline_to_br }}
      </blockquote>
    {%- endif -%}
  </div>
{%- endfor -%}
