---
layout: page
permalink: /bookshelf/
title: My Bookshelf
class: bookshelf
---

{% assign total_books = site.data.books | size %}

<h2>Reading 📚</h2>

<p>
  I keep a list of books I read in the previous year. Fiction and Non-Fiction.
  <br>
  The list was started in <strong>2014</strong> (I think), and it is not complete (I often forgot to update it).
  So far, the list contains <strong>{{ total_books}}</strong> books.
</p>
<p>
  If you want to talk about books, you are very welcome! ☺️
  <br>
  I like books where people live experience, increase my culture, or just make me live a good adventure.
</p>

<h2>Books</h2>

{%- for book in site.data.books -%}
  {% assign title = book.title %}
  {%- if book.series and book.title != book.series -%}
    {% capture title %}
      {{ book.title }} - {{ book.series }}
    {% endcapture %}
  {%- endif -%}
  {%- if book.volume -%}
    {% capture title %}
      {{ title }} - Volume {{ book.volume }}
    {% endcapture %}
  {%- endif -%}

  <div class="book">
    <h3>
      <span class="index">
        [{{ total_books | minus: forloop.index0 }}/{{ total_books }}]
      </span>
      {{ title }}
    </h3>
    <p class="book-data">
      {%- unless book.authors == empty -%}
        Authors: {{ book.authors | join: ", " }}
        <br>
      {%- endunless -%}

      {%- if book.rating -%}
        Rating:
        {% for i in (1..5) %}
          {% if i <= book.rating %}
          <span class="star filled" style="color: #f8ce0b;">★</span>
          {% else %}
          <span class="star empty">☆</span>
          {% endif %}
        {% endfor %}
        <br>
      {%- endif -%}

      {%- if book.fiction -%}
        Type:
        {% if book.fiction %} Fiction {% else %} Non-Fiction {% endif %}
        <br>
      {%- endif -%}

      {%- if book.date -%}
      Read on: <time datetime="{{ book.date }}">{{ book.date }}</time>
        <br>
      {%- else -%}
        Read on: unknown
      {%- endif -%}

      {%- unless book.urls == empty -%}
        Links:
        {%- for url in book.urls -%}
          {% assign domain = url | split: '//' | last | split: '/' | first | remove: "www." %}
          <a href="{{ url }}" target="_blank">{{ domain }}</a>
          {% unless forloop.last -%}, {%- endunless %}
        {%- endfor -%}
        <br>
      {%- endunless -%}
    </p>

    {%- if book.comment -%}
      <blockquote>
        {{ book.comment | newline_to_br }}
      </blockquote>
    {%- endif -%}
  </div>
{%- endfor -%}
