---
layout: page
permalink: /bookshelf/
title: My Bookshelf
class: bookshelf
---

<p>My reading list</p>

{%- for book in site.data.books -%}
  {% assign total_books = site.data.books | size %}
  <div class="book">
    <h3>
      <span class="index">
        [{{ total_books | minus: forloop.index0 }}/{{ total_books }}]
      </span>
      {{ book.title }}
    </h3>
    <p class="book-data">
      {%- unless book.authors == empty -%}
        by {{ book.authors | join: ", " }}
        <br>
      {%- endunless -%}

      {%- if book.series -%}
        Series: {{ book.series }}
      {%- endif -%}
      {% if book.series and book.volume %}
        -
      {% endif %}
      {%- if book.volume -%}
        Volume {{ book.volume }}
      {%- endif -%}
      {% if book.series or book.volume %}
      <br>
      {%- endif -%}

      {%- if book.rating -%}
        Rating:
        {% for i in (1..5) %}
          {% if i <= book.rating %}
          <span class="star filled" style="color: #f8ce0b;">★</span>
          {% else %}
          <span class="star empty">☆</span>
          {% endif %}
        {% endfor %}
        <br>
      {%- endif -%}

      {%- if book.fiction -%}
        Type:
        {% if book.fiction %} Fiction {% else %} Non-Fiction {% endif %}
        <br>
      {%- endif -%}

      {%- if book.date -%}
        Read on: {{ book.date }}
        <br>
      {%- else -%}
        Read on: unknown
      {%- endif -%}

      {%- unless book.urls == empty -%}
        Links:
        {%- for url in book.urls -%}
          {% assign domain = url | split: '//' | last | split: '/' | first | remove: "www." %}
          <a href="{{ url }}" target="_blank">{{ domain }}</a>
          {% unless forloop.last -%}, {%- endunless %}
        {%- endfor -%}
        <br>
      {%- endunless -%}
    </p>

    {%- if book.comment -%}
      <blockquote>
        {{ book.comment | newline_to_br }}
      </blockquote>
    {%- endif -%}
  </div>
{%- endfor -%}
