---
layout: page
permalink: /projects/
title: Projects
class: projects
---

<p>Some public projects I did outside of work, just to keep track.</p>

{% for project in site.data.projects %}
  <h2>{{ project.title | default: project.name }}</h2>

  {%- if project.image -%}
  <p class="banner">
    <img src="{{ project.image }}" alt="{{ project.name }} banner">
  </p>
  {%- endif -%}

  <p>
    {{ project.description | markdownify }}
  </p>

  <ul>
    {% if project.github %}
      <li>Github: <a href="{{ project.github }}">{{ project.github }}</a></li>
    {% endif %}
    {% if project.website %}
      <li>Web site: <a href="{{ project.website }}">{{ project.website }}</a></li>
    {% endif %}
    {% if project.created_at %}
      <li>Created: <time>{{ project.created_at | date: site.date_format }}</time></li>
    {% endif %}
    {% if project.updated_at %}
      <li>Updated: <time>{{ project.updated_at | date: site.date_format }}</time></li>
    {% endif %}
    {% if project.language %}
      <li>Language: {{ project.language }}</li>
    {% endif %}
  </ul>
{% endfor %}