<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="stylesheet" 1 href="{{ "/assets/css/style.css" | relative_url }}">
  {%- seo -%}
  {%- feed_meta -%}
  <script async data-goatcounter="https://tomsquest.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>
</head>
<body>

{%- include header.html -%}

<main>
  {{ content }}
</main>

{%- include footer.html -%}

</body>
</html>