<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/images/favicon.ico" sizes="32x32">
  <link rel="icon" href="/assets/images/logo.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script async data-goatcounter="https://tomsquest.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>
  {%- feed_meta -%}
  {%- seo -%}
</head>
<body>

<header class="nav">
  <div class="logo">
    <a href="/">
      <img src="/assets/images/logo.svg" class="logo-img" alt="Logo" width="48px" height="48px">
      <span>{{ site.title | escape }}</span>
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/blog/">blog</a></li>
      <li><a href="/projects/">projects</a></li>
      <li><a href="/bookshelf/">bookshelf</a></li>
      <li><a href="/now/">now</a></li>
      <li><a href="/about/">about</a></li>
    </ul>
  </nav>
</header>

<main>
  {{ content }}
</main>

<footer class="footer-container">
  <div class="footer-left">
    <p>Made with ❤️ by <a href="/about/">Tom</a> 😊</p>
  </div>
  <div class="footer-right">
    <ul>
      <li><a href="/blog/">blog</a></li>
      <li><a href="/projects/">projects</a></li>
      <li><a href="/bookshelf/">bookshelf</a></li>
      <li><a href="/now/">now</a></li>
      <li><a href="/about/">about</a></li>
      <li><a href="/atom.xml">rss-atom feed</a></li>
    </ul>
  </div>
</footer>

</body>
</html>