<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

  <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <script async data-goatcounter="https://tomsquest.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>
  {%- feed_meta -%}
  {%- seo -%}
</head>
<body>

{%- include header.html -%}

<main>
  {{ content }}
</main>

{%- include footer.html -%}

</body>
</html>