---
layout: base
---

<article class="post">
  <header>
    <h1>
      {{ page.title | escape }}
    </h1>

    <p>
      📅 Published:
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: date_format }}
      </time>

      {%- if page.modified_date -%}
      ~ Updated:
      {%- assign modified_date = page.modified_date | date_to_xmlschema -%}
      <time datetime="{{ modified_date }}">
        {{ modified_date | date: date_format }}
      </time>
      {%- endif -%}
      •
      <span>{{ site.author.name }}</span>
    </p>
  </header>

  <div>
    {{ content }}
  </div>

  <p class="edit-on-github">
    <a href="https://github.com/tomsquest/tomsquest.github.io/edit/master/{{ page.path }}">Improve this post</a>
  </p>
</article>

<script>
  document.querySelectorAll("h1, h2, h3, h4, h5, h6").forEach(header => {
    if (!header.querySelector(".anchor-link")) {
      const anchor = document.createElement("a")
      anchor.href = `#${header.id}`
      anchor.className = "anchor-link";
      anchor.innerHTML = "<span class='sr-only'>Permalink</span><span aria-hidden='true'>§</span>";
      header.appendChild(anchor)
    }
  })
</script>
