---
layout: base
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">
      {{ page.title | escape }}
    </h1>

    <p>
      📅 Published:
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>

      {%- if page.modified_date -%}
      ~ Updated:
      {%- assign modified_date = page.modified_date | date_to_xmlschema -%}
      <time datetime="{{ modified_date }}" itemprop="dateModified">
        {{ modified_date | date: date_format }}
      </time>
      {%- endif -%}
      •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ site.author.name }}</span>
      </span>
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <p class="edit-on-github">
    <a href="https://github.com/tomsquest/tomsquest.github.io/edit/master/{{ page.path }}">Improve this post</a>
  </p>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  document.querySelectorAll("h1, h2, h3, h4, h5, h6").forEach(header => {
    if (!header.querySelector(".anchor-link")) {
      const anchor = document.createElement("a")
      anchor.href = `#${header.id}`
      anchor.className = "anchor-link";
      anchor.innerHTML = "<span class='sr-only'>Permalink</span><span aria-hidden='true'>§</span>";
      header.appendChild(anchor)
    }
  })
</script>